
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.session-message-container {
  text-align: center;
  padding: 10px;
}

.session-message {
  margin: 0 10% 5% 10%;
  font-size: 20px;
}

.chooser-container {
  width: 50%;
  background: rgba(255, 255, 255, 0.72);
  margin-top: 100px;
  height: auto;
}